/* --------------------------------------------------------------------- */
body {
  background-color: rgb(30, 30, 30);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header {
  background-color: #282c34;
  color: white;
  height: 10vh;
  text-align: center;
  padding-top: 20px;
}

/* --------------------------------------------------------------------- */

.board {
  background-color: rgb(30, 30, 30);
  width: 100vw;
}

.cards-container {
  padding: 20px 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  column-gap: 20px;
  row-gap: 30px;
  justify-content: space-around;
}

button {
  outline: none;
}

button:hover {
  cursor: pointer;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 190px;
  background-color: #282c34;
  border: none;
  border-radius: 10px;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #323a4b;
  height: 140px;
  width: 160px;
  border: none;
  border-radius: 10px;
}

img {
  max-height: 120px;
}

.caption {
  margin-top: 10px;
  font-size: 16px;
  color: rgb(199, 199, 199);
}
