/* --------------------------------------------------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header {
  background-color: #282c34;
  color: white;
  height: 10vh;
}

/* --------------------------------------------------------------------- */

.board {
  background-color: rgb(39, 39, 39);
  width: 100vw;
}

.card-container {
  padding: 50px 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  column-gap: 20px;
  row-gap: 20px;
  justify-content: space-around;
}

button {
  outline: none;
}

.card {
  background-color: darkslategrey;
  min-height: 100%;
  width: 200px;
  height: 220px;
  border: 2px solid darkolivegreen;
}

img {
  max-height: 140px;
}

.caption {
  margin-top: 15px;
  font-size: 20px;
  color: white;
}
